
<% layout('layout') -%>

<div class ="row">
	<div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2">

		<% if (errors.length > 0) { %>
			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<%= errors %>
			</div>
		<% } %>

		<form class="form-horizontal has-success" method="post">
			<h1 id="signUp">Sign up</h1>
			<div class="form-group">
				<label for="inputName" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
				<input id="inputName" placeholder="Name" type ="text" class="form-control" name="name" >
				</div>
			</div>

			<div class="form-group">
				<label for="inputEmail" class="col-sm-2 control-label">Email</label>
				<div class="col-sm-10">
				<input type ="email" placeholder="Email" class="form-control" name="email">
				</div>
			</div>

			<div class="form-group">
				<label for="inputPassword" class="col-sm-2 control-label">Password</label>
				<div class="col-sm-10">
				<input type="password" placeholder="Password" class="form-control" name="password">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">
				<button  type="submit" class="btn btn-success">Submit</button>
			</div>
			</div>


		</form>
	</div>
</div>
