<% layout('boilerplate') %>
<h1> Shop Smart, save big</h1>

<p>Starting point to create something more unique</p>

<p>Sign up to start buying today!</o>

<h3>Start your search here!</>

<p>Our prices are the best on the web</p>

<h3> look for smart items</h3>
<p>This will appear across</p>


<h3>build a smart cart!</h3>
<p>The more smart items you buy the more you save</p>

